<script>
</script>
 <div id='graphs'>
            <script type='text/javascript'>
               google.load("visualization", "1", {packages:["corechart"]});
             //<![CDATA[
                window.addEvent('domready', function() {
                  var graph = new HTMGraph('graph','Table','block_index_memory','10', {
                    width: 900,
                    height: 220,
                    gridWidth: 800,
                    gridHeight: 200,
                    shade: false,
                  });
                });
              //]]>
            </script>
            <div id='graph' class='graph'>
            <div class ='chart' id ='chart'>
            <div>
            </div>
</div>