<div id='graphs'>
    <script type="text/javascript">
    window.addEvent('domready', function() {
                  var graph = new HTMGraph('graph','Table','block_memory_index','2', {
                    width: 900,
                    height: 220,
                    gridWidth: 800,
                    gridHeight: 200,
                    shade: false,
                  });
                });

    </script>

<div id='graph' class='graph'>
<div>
</div>