<div id='graphs'>
            <script type='text/javascript'>
              //<![CDATA[
                window.addEvent('domready', function() {
                  var graph = new RSGraph('graph','RangeServer','servers','', {
                    width: 900,
                    height: 220,
                    gridWidth: 800,
                    gridHeight: 200,
                    shade: false,
                  });

                });
              //]]>
            </script>
            <div id='graph' class='graph'>

            </div>
</div>

